{
  "branches": ['+([0-9])?(.{+([0-9]),x}).x', 'main', 'dev', {name: 'beta', prerelease: true}, {name: 'alpha', prerelease: true}],
  "repositoryUrl": "https://github.com/adamcanray/canray-react-boilerplate.git",
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "angular",
      "releaseRules": [
        {"type": "docs", "scope":"README", "release": "patch"},
        {"type": "feat", "release": "patch"},
        {"type": "fix", "release": "patch"},
        {"type": "refactor", "release": "patch"},
        {"type": "conf", "release": "patch"}
      ],
      "parserOpts": {
        "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES"]
      }
    }],
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "docs/CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["package.json","docs/CHANGELOG.md"]
      }
    ],
  ]
}